@using doan.Utilities;
@model IList<Menu>


<div class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid">
        <a href="Home" class="navbar-brand">Burger <span>King</span></a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto">
                @foreach (var menu in Model.Where(m => m.Levels == 1))
                {
                    string active = "";
                    var menuId = menu.MenuId;
                    var menuChild = Model.Where(m => m.ParentId == menuId);
                    if(menu.MenuName == ViewBag.Active)
                    {
                        active = "active";
                    }
                    if (menuChild.Count() == 0)
                    {
                        <a href="/@menu.Link" class="nav-item nav-link @active">@menu.MenuName</a>
                    }
                    else
                    {
                        <div class="nav-item dropdown">
                            <a href="/@menu.Alias" class="nav-link dropdown-toggle" data-toggle="dropdown">@menu.MenuName</a>
                            <div class="dropdown-menu">
                                @foreach (var itemchild in menuChild)
                                {
                                    if (!string.IsNullOrEmpty(itemchild.Link))
                                    {
                                        <a href="@itemchild.Link" class="dropdown-item">@itemchild.MenuName</a>
                                    }
                                    else
                                    {
                                        <a href="/@itemchild.Alias" class="dropdown-item">@itemchild.MenuName</a>
                                    }
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
