@using doan.Models;
@model IEnumerable<doan.Models.ProductCategory>
@{
    ViewData["Action"] = "Category";
}

<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <p>
                <a type="buton" class="btn btn-success" asp-area="Admin" asp-controller="ProductCategory" asp-action="Create">
                    <i class="bi bi-file-earmark-text me-1"></i>
                    Thêm loại bài viết
                </a>
            </p>
            <div class="content-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th scope="col">
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th scope="col">

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@(++i)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.CategoryProductId" class="btn mr-1 mb-1 btn-success">Sửa</a>
                                    <form asp-action="Delete" id="deleteForm-@item.CategoryProductId" method="post">
                                        <input class="d-none" value="@item.CategoryProductId" name="id">
                                        <input class="btn mr-1 mb-1 btn-danger" type="submit" value="Xóa" onclick="confirmDelete(event,@item.CategoryProductId)">
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



