@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@model IPagedList<Menu>
@{
    ViewData["Controller"] = "Menu";
    ViewData["Action"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="app-wrapper">
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xl">
            <p>
                <a type="buton" class="btn btn-success" asp-area="Admin" asp-controller="Menu" asp-action="Create">
                    <i class="bi bi-file-earmark-text me-1"></i>
                    Thêm menu
                </a>
            </p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>#</th>
                        <th scope="col">Tên menu</th>
                        <th scope="col">Miêu tả</th>
                        <th scope="col">Bậc menu</th>
                        <th scope="col">Menu Cha</th>
                        <th scope="col">Thứ tự</th>
                        <th scope="col">Tạo bởi</th>
                        <th scope="col">Ẩn hiện</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int i = 0;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MenuName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Levels)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ParentId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedBy)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsActive)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.MenuId" class="btn mr-1 mb-1 btn-success">Sửa</a>

                                <form asp-action="Delete" id="deleteForm-@item.MenuId" method="post">
                                     <input class="d-none" value="@item.MenuId" name="id">
                                    <input class="btn mr-1 mb-1 btn-danger" type="submit" value="Xóa" onclick="confirmDelete(event,@item.MenuId)">
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
            {
            ActiveLiElementClass = "active",
            PageClasses = new[]{ "page-link"},
            LiElementClasses=new[] { "page-item" },
            UlElementClasses = new[] { "pagination", "justify-content-center"},
            })
        </div>
    </div>
</div>


