@using doan.Utilities;
@model doan.Controllers.BlogController.Blog_BlogComment;
@{
    ViewBag.Active = "Blog";
    List<BlogComment> blogComment = ViewBag.blogcomment;
    List<Category> category = ViewBag.category;
    List<Blog> blog = ViewBag.blog;
}


<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Bài viết chi tiết</h2>
            </div>
            <div class="col-12">
                <a href="">Trang chủ</a>
                <a href="">Chi tiết</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Single Post Start-->
<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">
                    <h2>@Html.Raw(Model.Blog.Title)</h2>
                    <p>@Html.Raw(Model.Blog.Detail)</p>
                    <p>@Html.Raw(Model.Blog.Description)</p>

                </div>
                <div class="single-tags">
                    @foreach (var item in category)
                    {
                        <a href="/Blog?searchString=@item.CategoryId">@item.Title</a>
                    }
                </div>
                <div class="single-bio d-none">
                    <div class="single-bio-img">
                        <img src="img/user.jpg" />
                    </div>
                    <div class="single-bio-text">
                        <h3>Author Name</h3>
                        <p>
                            Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea dictumst.
                        </p>
                    </div>
                </div>
                <div class="single-related">
                    <h2>Bài viết liên quan</h2>
                    @{
                        var bll = blog.Where(m => m.CategoryId == Model.Blog.CategoryId && m.BlogId != Model.Blog.BlogId).ToList();
                    }
                    <div class="owl-carousel related-slider">
                        @foreach(var item in bll)
                        {
                            string url = Functions.TitleSlugGeneration("blog", item.Title, item.BlogId);
                        <div class="post-item">
                            <div class="post-img">
                                <img src="@item.Image" style="height: 60px; width:80px;" />
                            </div>
                            <div class="post-text">
                                <a href="@url">@item.Title</a>
                                <div class="post-meta">
                                    <p>By<a href="">@item.CreatedBy</a></p>
                                </div>
                            </div>
                        </div>
                            
                        }
                    </div>
                </div>

                <div id="blog_comment" class="single-comment">
                    <h2>@blogComment.Count() Comments</h2>
                    <ul class="comment-list">
                        @foreach (var item in blogComment)
                        {
                            <li class="comment-item">
                                <div class="comment-body">
                                    <div class="comment-img">
                                        <img src="img/user.jpg" />
                                    </div>
                                    <div class="comment-text">
                                        <h3><a href="">@item.Name</a></h3>
                                        <span>@item.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                                        <p>
                                            @item.Detail
                                        </p>
                                        <a class="btn" href="">Reply</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="comment-form">
                    <h2>Để lại bình luận</h2>
                    <form asp-action="Create" method="post">
                        <div class="form-group">
                            <label for="name">Tên *</label>
                            <input type="text" class="form-control" asp-for="BlogComment.Name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email *</label>
                            <input type="email" class="form-control" asp-for="BlogComment.Email">
                        </div>
                        <div class="form-group">
                            <label for="number">Số điện thoại</label>
                            <input type="text" class="form-control" asp-for="BlogComment.Phone">
                        </div>

                        <div class="form-group">
                            <label for="message">Bình luận *</label>
                            <textarea asp-for="BlogComment.Detail" cols="30" rows="5" class="form-control"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Bình luận" class="btn custom-btn">
                        </div>
                        <input type="hidden" asp-for="BlogComment.CreatedDate" value="@Functions.getCurrentDate()" />
                        <input type="hidden" asp-for="BlogComment.IsActive" value="True" />
                        <input type="hidden" asp-for="BlogComment.BlogId" value="@Model.Blog.BlogId" />
                    </form>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget d-none">
                        <div class="search-widget">
                            <form>
                                <input class="form-control" type="text" placeholder="Search Keyword">
                                <button class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>

                    <!--Recent Post -->
                    @await Component.InvokeAsync("RecentPost")
                    <!--Recent Post End -->
                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="img/blog-2.jpg" alt="Image"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Loại bài viết</h2>
                        <div class="category-widget">
                            <ul>
                                @foreach (var item in category)
                                {
                                    var count = (from bl in blog
                                                where (bl.CategoryId == item.CategoryId)
                                                select bl).Count();
                                    <li><a href="/Blog?searchString=@item.CategoryId">@item.Title</a><span>(@count)</span></li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#"><img src="img/blog-3.jpg" alt="Image"></a>
                        </div>
                    </div>

                    <div class="sidebar-widget">
                        <h2 class="widget-title">Tags Cloud</h2>
                        <div class="tag-widget">
                            @foreach (var item in category)
                            {
                                <a href="/Blog?searchString=@item.CategoryId">@item.Title</a>
                            }
                        </div>
                    </div>

                    <div class="sidebar-widget d-none">
                        <h2 class="widget-title">Text Widget</h2>
                        <div class="text-widget">
                            <p>
                                Lorem ipsum dolor sit amet elit. Integer lorem augue purus mollis sapien, non eros leo in nunc. Donec a nulla vel turpis tempor ac vel justo. In hac platea nec eros. Nunc eu enim non turpis id augue.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Post End-->   